/* 
  Author: Romain Roux
  Date: 09/03/2021
  CSS for my about me page 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #000000;
  margin: 0;
  width: 100%;
}

/* NAVBAR */

.navbar {
  align-items: center;
  background-color: #272727;
  height: 50px;
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px black;
  z-index: 100;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 15px 10px;
}
.navbar ul li {
  font-weight: bold;
}
.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 8px 25px;
  transition-duration: 0.3s;
}

.navbar ul li a:hover {
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
}

/* HOME */

.main {
  display: flex;
  flex-direction: column;
  background: url("bg1.jpg") no-repeat center center/cover;
  opacity: 0.95;
  color: #ffffff;
  height: 900px;
  justify-content: center;
}
.main h1 {
  margin-left: 25%;
  font-size: 55px;
  padding-bottom: 20px;
}
.main h2 {
  margin-left: 25%;
  font-size: 45px;
  padding-bottom: 5px;
  color: #1a33a3;
  font-family: monospace;
}
.main a:visited {
  color: #1a33a3;
}
.main a:hover {
  text-decoration: underline;
}

/* ABOUT ME */

.aboutme {
  display: flex;
  background: url("bg2.jpg") no-repeat center center/cover;
  height: auto;
  padding: 100px 0;
  justify-content: center;
}
.box {
  width: 45%;
  padding: 40px;
  text-align: center;
  margin: auto;
  background-color: #000000;
  opacity: 0.9;
  color: #ffffff;
  font-family: sans-serif;
  border-radius: 30px;
}
.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  padding: 15px;
}
.box p {
  text-align: justify;
}

/* FOOTER */

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #272727;
  font-family: "Open Sans";
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

@media only screen and (max-width: 750px) {
  .aboutme {
    padding: 0;
  }
  .box {
    width: 100%;
    border-radius: 0px;
  }
}
