@import "./header.css";
@import "./footer.css";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #1d001a;
  color: white;
  width: 100%;
}

.page-title {
  text-align: center;
  font-size: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 5px;
  text-shadow: 0 0 1px black;
  font-family: "EB Garamond";
}
.box {
  margin: 10px;
  width: 40%;
  padding: 10px;
  background: rgba(19, 19, 19, 0.8);
  border-radius: 10%;
}
.box_pic {
  margin: 10px;
  width: 45%;
}
.box_pic img {
  border-radius: 5%;
  width: 100%;
}
.title-desc {
  padding-top: 10px;
  font-size: 40px;
}
.header-description {
  font-variant: small-caps;
  font-size: 30px;
  margin: 20px;
}

@media screen and (max-width: 700px) {
  .page-title {
    padding: 270px 0px;
  }
}
