.footer {
  background: #000000;
  text-align: center;
  padding: 20px;
  color: white;
}
.footer-txt {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  min-width: 27%;
  letter-spacing: 5px;
  font-variant: small-caps;
  padding: 0;
}
.footer-txt-mail {
  font-weight: lighter;
  padding-top: 20px;
  font-size: 16px;
}
.footer-txt-mail a {
  color: white;
  text-decoration: none;
}
.footer-txt-mail a:hover {
  border-bottom: 1px solid white;
}
